[Desktop Entry]
Version=1.0
Type=Application

Name=
GenericName=
Comment=

Exec=/path/to/application %U
Icon=/path/to/application/icon.png
StartupWMClass=
Terminal=false

Categories=
Keywords=
