[Desktop Entry]
Name=Nekoray
StartupWMClass=Nekoray
Comment=Nekoray Proxy Manager
GenericName=Nekory Client for Linux
Exec=/usr/lib64/launcher
Icon=/usr/lib64/nekoray.png
Type=Application
Categories=GNOME;GTK;
