[Desktop Entry]
Name=Nekoray
StartupWMClass=Nekoray
Comment=Nekoray Proxy Manager
GenericName=Nekory Client for Linux
Exec=/opt/nekoray/launcher
Icon=/opt/nekoray/nekobox.png
Type=Application
Categories=GNOME;GTK;
