[Desktop Entry]
Version=1.0
Type=Application

Name=Nekoray
GenericName=Proxy Manager
Comment=Secure and simple proxy management client for Linux

Exec=/opt/nekoray/launcher %U
Icon=/opt/nekoray/nekobox.png
StartupWMClass=nekobox
Terminal=false

Categories=Network;Security;
Keywords=proxy;vpn;network;privacy;
