[Desktop Entry]
Version=1.0
Type=Application

Name=Throne
GenericName=Proxy Manager
Comment=Secure and simple proxy management client for Linux

Exec=/opt/Throne/Throne %U
Icon=/opt/Throne/Throne.png
StartupWMClass=Throne
Terminal=false

Categories=Network;Security;
Keywords=proxy;vpn;network;privacy;
